{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
    Account created
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                {{ govukPanel({
                    titleText: "Your HtG account has been created"
                }) }}

                <p class="govuk-body-m">We have sent you a confirmation email to <b>{{ workEmailAddress }}</b>.</p>

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What happens next
                        </h1>
                    </legend>

                    <div class="govuk-form-group">
                        <p>1. Your vendor account for application to HtG has been created. <a href="{{ ROUTES.SOFTWARE_DETAILS.OVERVIEW }}">Go to account.</a>
                        </p>
                        <p>2. To apply, you will need:</p>
                        <ul>
                            <li>This and that</li>
                            <li>Also this and that</li>
                        </ul>

                    </div>
                </fieldset>
            </div>
        </div>
    </div>

{% endblock %}