{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}Email Address
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="" method="post" novalidate>

                {% if errorMap | length %}
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: [
                            {
                                text: errorMap['email'],
                                href: "#email"
                            }
                        ]
                    }) }}
                {% endif %}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend>
                            <h1 class="govuk-heading-l">Enter your email address</h1>
                        </legend>
                        <p class="govuk-body-m">We need your email address to complete your registration of interest in
                            the Government's new Help To Grow: Digital scheme. Your email will only be used to contact
                            you about the Help To Grow: Digital scheme.</p>
                        <br>

                        {{ govukInput({
                            label: {
                                text: "Email address",
                                classes: "govuk-body-m"
                            },
                            value: email,
                            id: "email",
                            name: "email",
                            classes: "govuk-input--width-20",
                            errorMessage: errorMap['email'] and {
                                text: errorMap['email']
                            }
                        }) }}

                    </fieldset>
                    <br>

                    {{ govukButton({
                        text: "Continue"
                    }) }}

                </div>
            </form>
        </div>
    </div>

{% endblock %}