{% extends "layout/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}Set Password
{% endblock %}

{% block formContent %}

    <h1 class="govuk-heading-l">Set a account password for email@company.com</h1>

    {{ govukInput({
        label: {
            text: "Password",
            classes: "govuk-label--l",
            isPageHeading: true
        },
        hint: {
            text: "Password must be at least 6 character with..."
        },
        id: "password",
        name: "password",
        type: "password",
        errorMessage: errorMap['password'] and {
            text: errorMap['password']
        },
        value: '97zXDLfUZ9L12Rq4Myjckt9TfJ0L7x'
    }) }}

    {{ govukInput({
        label: {
            text: "Retype Password",
            classes: "govuk-label--l",
            isPageHeading: true
        },
        id: "repeatedPassword",
        name: "repeatedPassword",
        type: "password",
        errorMessage: errorMap['repeatedPassword'] and {
            text: errorMap['repeatedPassword']
        },
        value: '97zXDLfUZ9L12Rq4Myjckt9TfJ0L7x'
    }) }}

{% endblock %}