{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Set Password
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <form class="form" action="" method="post"> #}

      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Passwords do not match",
              href: ""
            }
          ]
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend>
              <h1 class="govuk-heading-l">Set a account password for email@company.com</h1>
            </legend>
            <br>
            {{ govukInput({
              label: {
                text: "Password",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              hint: {
                text: "Password must be at least 6 character with..."
              },
              id: "password",
              name: "password"
            }) }}
            {{ govukInput({
              label: {
                text: "Retype Password",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              id: "retypepassword",
              name: "retypepassword"
            }) }}
           
          </fieldset>
          <br>
          {# {{ govukButton({ text: "Continue" }) }} #}
          <button class="govuk-button" data-module="govuk-button" onclick="location.replace('http://localhost:3001/create-account/account-created')">
            Continue
          </button>
        </div>
      {# </form> #}

    </div>
  </div>

{% endblock %}