{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    T&Cs + Privacy consent
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="" method="post">

                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: "You need to accept the consent before continuing",
                            href: ""
                        }
                    ]
                }) }}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend>
                            <h1 class="govuk-heading-l">We need to verify your email</h1>
                        </legend>
                        <p class="govuk-body-m">Before we send you an email to verify name@email.com, you will need to
                            read and consent to the <a href="#" class="govuk-link">T&Cs</a> and <a href="#"
                                                                                                   class="govuk-link">privacy
                                policy</a>.</p>
                        <br>
                        {{ govukCheckboxes({
                            idPrefix: "waste",
                            name: "waste",
                            items: [
                                {
                                    value: "consent",
                                    text: "I consent to my details being shared with any Government department and..."
                                }
                            ]
                        }) }}
                        <br>
                        <p class="govuk-body-m"><b>My email is not correct.</b></p>
                        <a href="#" class="govuk-link">change email</a>
                    </fieldset>
                    <br>

                    {{ govukButton({
                        href: '/create-account/verification',
                        text: "Continue"
                    }) }}

                </div>
            </form>
        </div>
    </div>

{% endblock %}