{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}Accessibility
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="" method="post" novalidate>

          {% if errorMap | length %}
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: [
                            {
                                text: errorMap['accessibility'],
                                href: "#accessibility"
                            }
                        ]
                    }) }}
          {% endif %}

            <h1 class="govuk-heading-l">Does your company meet accessibility standards?</h1>

            {{ govukRadios({
            idPrefix: "accessibility",
            name: "accessibility",
            fieldset: {
                legend: {
                text: "Copy to say what this is.",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
            ],
            errorMessage: errorMap['accessibility'] and {
                        text: errorMap['accessibility']
                    }
            }) }}
          {{ govukButton({ text: "Continue" }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}