{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}Category
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post" novalidate>

          {% if errorMap | length %}
              {{ govukErrorSummary({
                  titleText: "There is a problem",
                  errorList: [
                      {
                          text: errorMap['category'],
                          href: "#category"
                      }
                  ]
                }) }}
            {% endif %}
        
            {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "category",
            name: "category",
            fieldset: {
                legend: {
                text: "Does your software/s belong to at least one of these categories?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              html: "<p><ol><li>Accountancy</li><li>Customer Relations Management (CRM)</li><li>E-commerce</li></ol></p>"
            },
            items: [
                {
                value: "yes",
                text: "Yes",
                checked: category === 'yes'
                },
                {
                value: "no",
                text: "No",
                checked: category === 'no'
                }
            ],
            errorMessage: errorMap['category'] and {
                  text: errorMap['category']
              }
            }) }}
        
          {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}