{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}Cyber Security
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="" method="post" novalidate>

                {% if errorMap | length %}
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: [
                            {
                                text: errorMap['cyberSecurity'],
                                href: "#cyber-security"
                            }
                        ]
                    }) }}
                {% endif %}

                <h1 class="govuk-heading-l">Does your company have Cyber security certification?</h1>

                {{ govukRadios({
                    idPrefix: "cyber-security",
                    name: "cyber-security",
                    fieldset: {
                        legend: {
                            text: "Copy to say what this is.",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: cyberSecurity === 'yes'
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: cyberSecurity === 'no'
                        }
                    ],
                    errorMessage: errorMap['cyberSecurity'] and {
                        text: errorMap['cyberSecurity']
                    }
                }) }}

                {{ govukButton({ text: "Continue" }) }}
            </form>
        </div>
    </div>
{% endblock %}