{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}GDPR
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post" novalidate>

            {% if errorMap | length %}
              {{ govukErrorSummary({
                  titleText: "There is a problem",
                  errorList: [
                      {
                          text: errorMap['physicalMedia'],
                          href: "#physicalMedia"
                      }
                  ]
                }) }}
            {% endif %}

            {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "gdpr",
            name: "gdpr",
            fieldset: {
                legend: {
                text: "Does your company have GDPR policy in place?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              html: "<p>Copy to say what this is.</p>"
            },
            items: [
                {
                value: "yes",
                text: "Yes",
                checked: gdpr === 'yes'
                },
                {
                value: "no",
                text: "No",
                checked: gdpr === 'no'
                }
            ],
              errorMessage: errorMap['gdpr'] and {
                  text: errorMap['gdpr']
              }
            }) }}
          {{ govukButton({ text: "Continue" }) }}
        </form>
    </div>
  </div>
{% endblock %}