{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}Making Tax Digital
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post" novalidate>

          {% if errorMap | length %}
              {{ govukErrorSummary({
                  titleText: "There is a problem",
                  errorList: [
                      {
                          text: errorMap['makingTaxDigital'],
                          href: "#makingTaxDigital"
                      }
                  ]
                }) }}
            {% endif %}

            {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "makingTaxDigital",
            name: "makingTaxDigital",
            fieldset: {
                legend: {
                text: "If you have accountancy software, at least one of them is Making Tax Digital approved.",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              html: "<p>MTD is this and that...</p>"
            },
            items: [
                {
                value: "yes",
                text: "Yes",
                checked: makingTaxDigital === 'yes'
                },
                {
                value: "no",
                text: "No",
                checked: makingTaxDigital === 'no'
                }
            ],
            errorMessage: errorMap['makingTaxDigital'] and {
                  text: errorMap['makingTaxDigital']
              }
            }) }}
          {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}