{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}MTD Warning
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="" method="post" novalidate>
            <h1 class="govuk-fieldset__heading">
            Only Making Tax Digital approved accountancy software can be on the HtG scheme.
            </h1>
            <p>You can continue with checking your eligibility if you have additional software that is not an accountancy software. Otherwise you should not continue.</p>
            {{ govukButton({ text: "Continue" }) }}
        </form>
    </div>
    </div>
{% endblock %}