{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {% if errorMap | length %}Errors: {% endif %}Ratings
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post" novalidate>

        {% if errorMap | length %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: errorMap['ratings'],
                        href: "#ratings"
                    }
                ]
            }) }}
        {% endif %}
            {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "ratings",
            name: "ratings",
            fieldset: {
                legend: {
                text: "Can you provide Capterra/G2 ratings for all of your software?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              html: "<p>Copy to say what this is.</p>"
            },
            items: [
                {
                value: "yes",
                text: "Yes",
                checked: ratings === 'yes'
                },
                {
                value: "no",
                text: "No",
                checked: ratings === 'no'
                }
            ],
            errorMessage: errorMap['ratings'] and {
                  text: errorMap['ratings']
              }
            }) }}
          {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}