{% extends "layout/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1>type of business</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et malesuada augue. Praesent efficitur varius leo ac tincidunt. Donec sed dolor volutpat lectus vulputate rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer mollis massa lacus, maximus gravida enim suscipit at. Nunc feugiat luctus purus, vitae blandit libero. Sed elit ipsum, consequat eget velit at, elementum ullamcorper ex. Etiam nec facilisis velit. Ut sem nulla, ornare ac metus id, congue venenatis metus. Vivamus vitae scelerisque nibh, ac tincidunt lectus. Vivamus mollis tortor quis purus faucibus, et ullamcorper massa molestie. Etiam porta, orci sit amet bibendum iaculis, risus dolor maximus orci, euismod auctor lorem magna at orci. Fusce sed mauris et nunc viverra dictum vel in velit.</p>
{% endblock %}